body {
    white-space: nowrap;
    overflow: auto;
}

h1 {
    padding: 16px;
    background: lightyellow;
    transform: translate(50%, 0);
    width: 50%;
}

#btnBwd {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-300%, 0);
    font-size: 60px;
}

#btnFwd {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(300%, 0);
    font-size: 60px;
}

#btnBwd:hover, #btnFwd:hover {
    color: grey;
}

.w3-panel {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2%;
    width: 100%;
}

#infobox {
    position: fixed;
    background: lightgrey;
    opacity: .9;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    visibility: hidden;
    padding: 16px;
    width: 75%;
}

.info:hover {
    background-color: grey;
}

.grammar {
    text-decoration: underline;
}

#prog {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 1%;
}

.grammar:hover {
    color: grey;
}

.progress {
    background-color: green;
    height: 20px;
    width: 50px;
}